<div class=row>
  <div class=l-image>
  <div class="col-4 col-s-1">
    <div class=transbox>
        <div class=login-text>         
          <h1>Login</h1>
        </div>
        </div>      
        <div class="col-12 col-s-3">        
          <div class=transbox>
            <div class=right-content>
              <div>     
                <form action="/sessions" method=post>
                  <label class=user-text for="username">Username:</label><br>
                  <input class=user-box id=username type=text name=username>
              </div>
              <br>
              <div>              
                  <label class=user-text for=password>Password:</label><br>                
                  <input class=user-box id=password type="password" name=password><br>          
              <div class=item> 
                <div class=headbox>
                  <input type=submit class=button value="login">
                </div>
                <div class=headbox>
                  <a href=/users/new class=button>Sign up</a>
                </div>
                </form>
              </div>
            </div>  
          </div>
        </div>
      </div>
  </div>
</div>