<div class=row>
  <div class=s-image>
  <div class="col-4 col-s-1">
    <div class=transbox>
        <div class=login-text>         
          <h1>Sign Up</h1>
        </div>
        </div>      
        <div class="col-12 col-s-3">
          <div class=transbox>
            <div class=right-content>        
              <div>     
                <form action="/users" method=post>
                  <label class=user-text for="username">Username:</label><br>
                  <input class=user-box id=username type=text name=username>
              </div>
              <br>
              <div>
                  <label class=user-text for=password>Password:</label><br>
                  <input class=user-box id=password type="password" name=password><br>          
              <div class=item> 
                <div class=headbox>
                  <input type=submit class=button value="Sign Up">
                </div>
                </form>
              </div>
            </div>  
          </div>
        </div>
      </div>
  </div>
</div>













