
<div class="row">
 

<div class="b-image">
  <div class="col-12 col-s-9">
    <div class="transbox">
      <div class="content">

      <form action='/records' method='POST'>
       
      <input type=text id="catalog_number" name="catalog_number" class="search" placeholder="Find an album..."><input type=submit name="submit" class="submit" value="Search"><br><br>
      <p style="color:#7efdd0;font-weight:bold;font-family:Calibri">You can seach by almost anytihng, but for best results, searching by barcode or catalog number is recomended.</p>
      
      </form>
      </div>
      </div>
    </div>
  </div>
</div>

